<div class="alert"></div>
<div class="container">
  <div class="well">
    <form id="new-movie">
      <label>Title:
        <input id="movie-title">
      </label>
      <label>Note:
        <input id="movie-note">
      </label>
      <input type="submit" value="Add Movie">
    </form></br></br>
  </div>
</div>

<div class="sort">
  <button class="sort-movies">Sort by Title</button>
</div><br>

<div class="filter">
  <button class="filter-watched">Filter Watched</button>
  <button class="filter-unwatched">Filter Unwatched</button>
</div><br>

<div class="search">
  <span>Search Movies</span><input type="text" id="search-movies">
</div>

<hr></br></br>
<div class="container">
  <div class="well">
  <div id="movies-list">
    <% @movies.each do |movie| %>
      <div class='movie' data-id='<%= movie.id %>' id="movie-<%= movie.id %>">
        <p class="movie-title">Title: <%= movie.title %></p>
        <p class="movie-note">Note: <%= movie.note %></p>
        <p class="movie-watched">Watched?: <%= movie.watched %></p>

        <p class="movie_buttons">
          <button class="mark-watched">Mark as Watched</button>
          <button class='edit-movie'><%= link_to "Edit", edit_movie_path(movie.id) %></button>
        </p>

      </div>
    <% end %>
  </div>
  </div>
</div>